<template>
    <div class="error_404">
      <h1>404 - No encontrado</h1>
    </div>
</template>

<style>
  .error_404 {
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .error_404 h1 {
    font-size: 38px;
  }
</style>
