<template>
<div v-loading="loading"
    element-loading-text="Loading..."
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(0, 0, 0, 0.8)">
  <div class="container-detail-comic">
    <div class="container-detail-comic-icon-back">
      <el-button @click="goHome()" type="danger" icon="el-icon-back" circle></el-button>
    </div>
    <div class="detail-comic detail-comic-columns">
       <div class="container-image-comic">
        <img class="image-detail-comic" :src="comicPath  + '.' +  comicExtension">
      </div>
      <div class="container-text-comic">
        <h2>{{ comicTitle }}</h2>
        <div class="container-favorite">
          <div class="favorite-comic">
            <p>Do you love it?</p>
            <p>Add it to your favorite list here!</p>
          </div>
          <div class="container-icon">
            <el-button class="icon" @click="setComicFav(comic)" type="warning" icon="el-icon-star-on" circle></el-button>
          </div>
        </div>
        <p v-if="!noDescription">{{ comicDescriptionMarvel }}</p>
        <p v-if="noDescription">{{ comicDescription }}</p>
        <a v-if="noDescription" class="comic-link" @click="goToInfo()">Comic information</a>
      </div>
    </div>  
  </div>
</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: "ComicDetail",
  data() {
    return {
      loading: false,
      comicObject: {},
      comicFavObject: {},
      noDescription: false,
      description: '',
      matched: false
    };
  },
  computed: {
    comic() {
      return this.comicObject;
    },
    comicTitle() {
      if (this.comicObject.hasOwnProperty('title')) {
        return this.comicObject.title;
      }
      return '';
    },
    comicDescriptionMarvel() {
      if (this.comicObject.hasOwnProperty('description')) {
        return this.comicObject.description;
      }
      return '';
    },
    comicDescription() {
      return this.description;
    },
    comicPath() {
      if (this.comicObject.hasOwnProperty('thumbnail')) {
        return this.comicObject.thumbnail.path;
      }
      return '';
    },
    comicExtension() {
      if (this.comicObject.hasOwnProperty('thumbnail')) {
        return this.comicObject.thumbnail.extension;
      }
      return '';
    }
  },
  mounted() {
    this.loading = true;
    this.comicObject = this.$store.state.currentComic;
    this.loading = false;
    console.log('Current comic: ');
    console.log(this.comicObject);

    if(this.comicObject.description === null) {
      this.noDescription = true;
      this.description = 'There is no description about this comic. For more information click on the following button: ';
    }
    
  },
  methods: {
    ...mapActions([
      'setFavComic',
      'removeFavComic'
    ]),
    setComicFav(favComic) {
      if(JSON.parse(window.localStorage.getItem('arrayFavComics')) === null) {
        this.$store.state.favComic = [];
      } else {
        this.$store.state.favComics = JSON.parse(window.localStorage.getItem('arrayFavComics'));
      }

      if(this.$store.state.favComics.length > 0) {
        // Check the comic is not already stored in the localStorage
        this.checkFavList(this.$store.state.favComics, favComic)
        if(!this.matched) {
          this.setFavComic(favComic);
        }
      } else {
        this.setFavComic(favComic);
      }
    },
    checkFavList(favList, fav) {
      favList.forEach(favElement => {
        if(favElement.id === fav.id) {
          this.matched = true;
        }
      });
    },
    goHome() {
      this.$router.push(
        {
          name: 'Home'
        }
      );
    },
    goToInfo() {
      window.location = this.comicObject.urls[0].url;
    }
  }
};
</script>
