<template>
  <div>
    <div class="banner parallax">
      <div class="banner-container-title">
        <h3>Here begins your dreams</h3>
        <div v-if="isAllComics">
          <div>
            <p>Click on here to see your favorites comics</p>
            <el-button @click="goToFavComics()" type="warning" icon="el-icon-star-off" circle></el-button>
          </div>
        </div>
        <div v-if="!isAllComics">
          <div>
            <p>Click on here to back to all comics</p>
            <el-button @click="goToAllComics()" type="danger" icon="el-icon-back" circle></el-button>
          </div>
        </div>
      </div>
    </div>
    <el-main>
      <!-- Complete comics' list -->
      <div class="container-comics container-comic-columns" v-if="allComics" v-loading="loading"
      element-loading-text="Loading..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)">
        <div v-for="comic in comicList" v-bind:key="comic.id"> 
          <div class="container-single-comic" @click.once="showDetail(comic)">
            <div class="container-image-comic">
              <img class="image-comic" :src="comic.thumbnail.path  + '.' +  comic.thumbnail.extension">
            </div>
            <div class="container-title-comic">
              <h2>{{ comic.title }}</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- Fav comics' list -->
      <div class="container-comics container-comic-columns" v-if="!allComics" v-loading="loading"
      element-loading-text="Loading..."
      element-loading-spinner="el-icon-loading"
      element-loading-background="rgba(0, 0, 0, 0.8)">
        <div v-for="favComic in favComicList" v-bind:key="favComic.title">
          <div class="container-single-comic" @click.once="showDetail(favComic)">
            <div class="container-image-comic">
              <img class="image-comic" :src="favComic.thumbnail.path  + '.' +  favComic.thumbnail.extension">
            </div>
            <div class="container-title-comic">
              <h2>{{ favComic.title }}</h2>
            </div>
          </div>
        </div>
      </div>
      <!-- No fav comics -->
      <div v-if="noFavs" class="container-no-favs">
        <i class="el-icon-warning"></i>
        <p>There is no favorites comics yet</p>
        <div>
          <p>Please back to home and choose your favorites comics</p>
        </div>
      </div>
    </el-main>
    
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: "Home",
  data() {
    return {
      loading: false,
      isAllComics: true,
      noFavs: false,
      comics: {},
      favComics: []
    };
  },
  computed: {
    comicList() {
      return this.comics;
    },
    allComics() {
      return this.isAllComics;
    },
    favComicList() {
      return this.favComics;
    }
  },
  created() {
    this.getApiMarvelComics();
  },
  mounted() {
    this.isAllComics = true;
  },
  methods: {
    ...mapActions([
      'setCurrentComic'
    ]),
    // Call Marvel API to get the comic list
    getApiMarvelComics() {
      this.loading = true;
      this.$store.state.services.service
        .getApiMarvelComics()
        .then(json => {
          this.loading = false;
          this.comics = json.data.data.results;
        })
        .catch(error => {
          console.error(error);
        });
    },
    // Go to the ComicDetail component to show the comic detail
    showDetail(comic) {
      console.log('It opens the comic detail');
      this.setCurrentComic(comic);
      this.$router.push(
        {
          name: 'ComicDetail',
          params: {
            comicID: comic.id
          }
        }
      );
    },
    // Show just the favorites comics in this component
    goToFavComics() {
      // Get the array with the favorites comics
      this.favComics = JSON.parse(window.localStorage.getItem('arrayFavComics'));
      if(this.favComics === null) {
        this.noFavs = true;
      }
      this.loading = false;
      this.isAllComics = false;
      
    },
    goToAllComics() {
      this.loading = false;
      this.isAllComics = true;
      this.noFavs = false;
    }
  }
};
</script>
