body {
  font-family: 'Roboto';
  margin: 0px;
  color: #2D2F33;
}

.el-container .el-header:first-child, .el-footer{
  background: #2D2F33;
  color:#fff;
}

ul {
  list-style: none;
}

/* HOME */
/* Banner */
.banner {
  position: relative;
  height: 436px;
  margin: 0 0 1.5rem 0;
}

.banner::before {
  background-image: url(../src/assets/marvel.jpg);
  content: '';
}

.banner-container-title {
  padding: 100px 0;
  margin-left: 4rem;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}

.banner-container-title h3 {
  font-size: 2rem;
}

.banner-container-title-icon-favs {
  display: flex;
  justify-content: center;
}

.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
}

/* Comics list */
.container-comics {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 1.5rem;
}

/* Media queries for responsive comics' list design */
@media (min-width: 320px) {
  .container-comic-columns {
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width: 601px) {
  .container-comic-columns {
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 839px) {
  .container-comic-columns {
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width: 839px) {
  .container-comic-columns {
    grid-template-columns: repeat(5,1fr);
  }
}

.container-single-comic:hover {
  transform: scale(1.05);
  border: 1px solid #e62429;
  box-shadow: 0px 0px 50px #666;
  color: #e62429;
}

.container-image-comic {
  display: flex;
  justify-content: center;
}

.container-title-comic {
  text-align: center;
  font-size: 0.7rem;
}

.image-comic {
  position: relative;
  display: inline-block;
  width: 100%;
}

.container-text-comic {
  padding: 0 1rem;
  text-align: center;
}

/* COMIC DETAIL */
.container-detail-comic {
  position: relative;
  background-color: rgba(0,0,0,0.6);
}

.container-detail-comic::after {
  content: "";
  background-image: url(../src/assets/stanlee.jpg);
  text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  
}

.container-detail-comic-icon-back {
  padding: 1rem 0 0 1rem;
}

.detail-comic {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-bottom: 1.5rem;
  padding: 0 0 2rem 0;
  color: black;
}

.detail-comic p {
  padding: 1.2rem 0;
  font-weight: 700;
}

.image-detail-comic {
  width: 55%;
}

.container-favorite {
  display: flex;
}

.container-favorite div{
  width: 40%;
}

.container-favorite .favorite-icon {
  width: 40%;
}

.favorite-comic p{
  padding: 0;
}

.container-icon {
  position: relative;
}

.icon {
  position: absolute;
  bottom: 25px;
}

/* Media queries for responsive detail comic design */
@media (min-width: 680px) {
  .detail-comic-columns {
    grid-template-columns: repeat(2,1fr);
  }
  .container-text-comic {
    text-align: left;
  }
  .container-favorite div {
      width: 45%;
  }
}

.comic-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px #e62429 solid;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  transition: all .3s ease;
}

.comic-link:hover {
  background-color: #e62429;
}

/* NO FAVS VIEW */
.container-no-favs {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #e62429;
  margin-top: -2rem;
}

