<template>
<el-container>
  <el-header>
    <h1>MARVEL</h1>
  </el-header>
  <el-container>
    <el-container>
        <el-row>
          <el-col :span="24">
            <!-- Component for navigation -->
            <router-link to="/detail"></router-link>
            <!-- Component matched by the route will render here -->
            <router-view></router-view>
          </el-col>
        </el-row>
      <el-footer>
        <p>© {{ 'Marvel ' + new Date().getFullYear() }}</p>
      </el-footer>
    </el-container>
  </el-container>
</el-container>
</template>

<script>

export default {
  props: {
    source: String
  }
};
</script>